// Colors
$default-color: #333e4c;
$default-shade: #333e4c;
$default-tint: #90949a;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f0f0f0;
$white: #fff;
$blue: #0066ff;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #0066ff;
$blueblue: #0066ff;

// Fonts
$serif-primary: 'NanumBarunGothic', 'Times New Roman', Times, serif;
$serif-secondary: 'NanumMyeongjoBold', 'NanumBarunGothicLight', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'NanumSquareEB', 'Segoe UI', Helvetica, Arial, sans-serif;
$monospaced: Menlo, Monaco, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
