---
layout: default
---
<div class="project-header post-header loading-animation" style="background-image: url('https://user-images.githubusercontent.com/42730616/45129554-3de3a880-b1bf-11e8-9a55-6f3bd688b23c.png')">
  <div class="container">
      <div>
          <div class="header-project-title">
            
          </div>

      </div>
  </div>
</div>
<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <p class="catalogue-sub">{{ post.subtitle }}</p>
        <div class="catalogue-line"></div>

      

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
